pillow
python-multipart
numpy
pandas
scikit-learn
opencv-python-headless
torch==2.1.1+cpu
torchvision==0.16.1+cpu
efficientnet_pytorch==0.7.1
timm
transformers>=4.30.0
streamlit>=1.28.0
requests
huggingface-hub
scipy